<link rel="stylesheet" type="text/css"href="/css/loser.css">
<center> <h2 style="color:red"><%=p2_name%> LOSES </h2></center>
<center> <h2 style="color:red"><%=word%> is the word</h2></center>
<center><h1 style="color:red">Fatality</center>
></h4