	<link rel="stylesheet" type="text/css"href="/css/password.css">
	<center>
   <h2 style="color:white ">   prepare for Mortal combat <%=p1_name%>  <h1>
	<h2 style="color:white"><%=p2_name%>  You will be challenged
		<form method="post" action="/secretword">
			<input type= "password" name="word" required=true onkeyup="this.value = this.value.replace(/[^a-zA-Z]/, '')"autofocus>
				
				<input type= "submit">
		<input type= "hidden" name="player1" value='<%=p1_name%>'>
		<input type= "hidden" name="player2" value='<%=p2_name%>'>
      
     

	</form>