<link rel="stylesheet" type="text/css"href="/css/winner.css">
<center><h2 style="color:blue">  Flawless Victory <%=p2_name%></h1></center>
<center><h2 style="color:blue"> <%=word%> is the word</h2></center>
<center><h1 style="color:red"> Fatality</center>
<h2 class="">