body {
 background-color: #000;
 background-image: url(http://38.media.tumblr.com/124b6459a93e2dbb3d8d9bfe16703adf/tumblr_n6k06fY5uW1tazhx4o1_400.gif);
	background-repeat: no-repeat;
	 background-size: 100% 300%; 
}