body {
 background-color: #000;
 background-image: url(http://www.picgifs.com/games-gifs/games-gifs/mortal-kombat/picgifs-mortal-kombat-4204537.gif);
	background-repeat: no-repeat;
	 background-size: 100% 250%; 
}